    IMG{
            width: 30%;
            height: 20%;
            background-color: aqua;
        }
        .section{
    padding:50px 20px;
    text-align:center;
    border-radius: 10px;


        }