
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
    color:#333;

}

header{
    background:#0d6efd;
    color:white;
    padding:20px;
    text-align:center;
}

header h1{
    font-size:40px;
}

nav{
    background:#222;
    padding:12px;
    text-align:center;
    
    
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-size:18px;
    padding: 20px;
}

.hero{
    background-image: url(WHEEL.jpg);
    height: 300px;
    width: 1300px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    text-align:center;
}

.hero h2{
    font-size:45px;
    background:rgba(0,0,0,0.6);
    padding: 20px;
    border-radius:10px;
}

.section{
    padding:50px 20px;
    text-align:center;
}

.section h2{
    margin-bottom:20px;
    color:#0d6efd;
}

.services{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    background:white;
    width:300px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.card img{
    width:100%;
    border-radius:10px;
}

.card h3{
    margin:15px 0;
    padding: 20px;

}

.contact{
    background:#222;
    color:white;
    padding:50px;
    text-align:center;
    margin: 20px;
}

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:20px;
    
}
